* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Microsoft Yahei",verdana;
    font-size: 12px;
    background: #f5f6f8;
    height: 3000px;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

/*tm-1*/
.top-menu {
    border-bottom: 3px solid #db3652;
}

.top-menu .menu-mat {
    width: 1200px;
    padding: 0 10px;
    height:159px;
    margin: 0 auto ;
}

.top-menu .menu-mat .tm-1 {
    overflow: hidden;
}

.top-menu .menu-mat .tm-1 > a {
    float: left;
    line-height: 29px;
    color: #8e8e8e;
}

.top-menu .menu-mat .tm-1 ul {
    float: right;
    position: relative;
}

.top-menu .menu-mat .tm-1 ul .shu {
    float: left;
    width: 1px;
    background-color: #e1e1e1;
    height: 12px;
    margin: 0 6px;
    position: relative;
    top: 9px;
}

.top-menu .menu-mat .tm-1 ul li {
    float: left;
    text-align: center;
    color: #8e8e8e;
    line-height: 29px;
    margin: 0 5px;
    position: relative;

}

.top-menu .menu-mat .tm-1 ul li.un:hover {
    text-decoration: underline;
}

.top-menu .menu-mat .tm-1 ul li {
    margin-right: 20px;
    height: 31px;
}

.top-menu .menu-mat .tm-1 ul li .xiasj {
    background-image: url(../img/tu.png);
    background-position: -110px -130px;
    position: absolute;
    right: -12px;
    top: 13px;
    width: 7px;
    height: 4px;
}
.top-menu .menu-mat .tm-1 ul li.xinlang {
    margin-left: 25px;
}

.top-menu .menu-mat .tm-1 ul li .xinlang {
    background-image: url(../img/xinlang.png);
    width: 16px;
    height: 13px;
    position: absolute;
    top: 7px;
    left: -19px;

}

.top-menu .menu-mat .tm-1 ul li .left-head a {

}

.top-menu .menu-mat .tm-1 ul li .left-head a:hover {
    text-decoration: underline;
}

.top-menu .menu-mat .tm-1 ul li .left-head .a1 {
    color:#3399ff;
} 

.top-menu .menu-mat .tm-1 ul li .left-head .a2 {
    color: #8e8e8e;
}

/*tm-2*/
.tm-2 {
    background-color: #fff
}
.clear {
    clear: both;
}
.tm-2 i {
    float: left;
}

.tm-2 i.yiyuan {
    background-image: url(../img/yiyuan.gif);
    width: 170px;
    height: 49px;
    margin-top: 20px;
    background-repeat: no-repeat;
}

.tm-2 i.logo {
    background-image: url(../img/logo.png);
    width: 286px;
    height: 65px;
    margin-top: 15px;

}

.tm-2 .right {
    float: right;
}

.tm-2 .right > div {
    float: left;
    margin-top: 28px;
    margin-right: 10px;
}

.tm-2 .right .input {
    width: 310px;
    height: 32px;
    border: 1px solid #c7c7c7;
    border-radius: 3px;
    position: relative;
}

.tm-2 .right .input input {
    position: absolute;
    top: 6px;
    left: 5px;
    width: 250px;
    height: 16px;
    border: none;
}

.tm-2 .right .input input:focus {
    outline: none;
}

.tm-2 .right .input .pgsj {
    float: right;
    position: absolute;
    top: 7px;
    right: 38px;
}

.tm-2 .right .input .pgsj a {
    margin-right: 4px;
    padding: 0 3px;
    color: #808080;
}

.tm-2 .right .input .pgsj a:hover {
    background-color: #dadada;
}

.tm-2 .right .input .chazhao {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 35px;
    height: 32px;
    border: 1px solid #c7c7c7;
    float: right;
    background: -webkit-gradient(linear,left top,left bottom,from(#fefefe),to(#e3e3e3));
    top: -1px;
    left: 1px;
    position: relative;
}

.tm-2 .right .input .chazhao:hover {
    border-color: #C92945;
    background: -webkit-gradient(linear,left top,left bottom,from(#F64D6A),to(#E03C57));
}

.tm-2 .right .input .chazhao i {
    background-image: url(../img/tu.png);
    width: 18px;
    height: 17px;
    background-position: -120px -100px;
    margin: 7px 0 0 9px;
}

.tm-2 .right .input .chazhao:hover i {
    background-position: -140px -100px;
}

/*清单*/
.qingdan {
    width: 130px;
    height: 34px;
    border-radius: 3px;
    background-color: #db3652;
    position: relative;
}

.qingdan i {
    background-image: url(../img/tu.png);
    width: 24px;
    height: 21px;
    background-position: -30px -30px;
    position: relative;
    top: 7px;
    right: -11px;
}

.qingdan a {
    font-size: 12px;
    line-height: 17px;
    color: #fff;
    position: relative;
    top: 9px;
    left: 21px;
    font-family: "Microsoft Yahei",verdana;
}

.qingdan .fangkuai {
    margin-left: 10px;
    display: inline-block;
    width: 30px;
    text-align: center;
    line-height: 17px;
    color: #db3652;
    background-color: #fff;
    border-radius: 3px;
    position: relative;
    font-weight: bold;
    top: 8px;
    left: 19px;
}

.qingdan .fangkuai .sanjiao {
    border-width: 4px;
    border-color: transparent #fff transparent transparent;
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    left: -8px;
    top: 5px;
}

.qingdan .qd {
    z-index: 1;
    height: 77px;
    width: 318px;
    border: 1px solid #db3652;
    text-align: center;
    line-height: 77px;
    display: none; 
    position: absolute;
    top: 36px;
    left: -190px;
    color: #c3c3c3;
    background-color: #fff;
}

.qingdan:hover .qd {
    display: block;
}
/*headerer*/

.tm-3 {
    height: 38px;
    padding-top: 10px;
}

.tm-3 > div {
    float: left;
}

.tm-3 .left-1 {
    width: 240px;
    background: #db3652;
    height: 388px;
    position: absolute;
}

.tm-3 .left-1 .top {
    border-bottom: 1px solid #ca1b38;
}

.tm-3 .left-1 .top a {
    margin-left: 30px;
    height: 37px;
    line-height: 37px;
    text-align: left;
    font-weight: bold;
    font-size: 15px;
    color: #fff;

}

.tm-3 .left-1 .bottom {
    padding-bottom: 8px;
        /*visibility: visible;*/
}

.tm-3 .left-1 .bottom li {
    border-bottom: 1px solid #ca1b38;
    border-top: 1px solid #fb3657;
}

.tm-3 .left-1 .bottom li:hover {
    background-color: #C61935;
}
.tm-3 .left-1 .bottom li a {
    width: 240px;
    height: 36px;
    color: #fff;
    line-height: 36px;
    margin-left: 30px;  
    font-size: 15px; 
}
.tm-3 .left-1 .biankuang {
    background-image: url(../img/tu.png);
    height: 4px;
    background-position: 0 0;
    background-repeat: repeat-x;
    display: block;
    position: relative;
    z-index: 1;
}

/*left-2*/
.left-2 li,.shu {
    float: left;

}

.left-2 ul {

    position: relative;
    left: 240px;
}

.left-2 li {
    text-align: center;
    padding:7px 0 3px;
    height: 28px;
    line-height: 28px;
    margin: 0 5px 0 12px;
    width: 88px;
    color: #3c3c3c;
    font-weight: bold;
    font-size: 16px;
    font-family: "Microsoft Yahei";
}

.left-2 li.active {
    color: #db3652;
}

.left-2 li:hover {
    color: #db3652;

}
.left-2 ul {
    float: left;
}

.left-2 ul .shu {
    width: 1px;
    height: 19px;
    background-color: #aeaeae;
    position: relative;
    top: 11px;
}

.left-2 ul li.fx .daosj {
    position: absolute;
    display: block;
    background-position: -110px -130px;
    width: 9px;
    height: 7px;
    background-image: url(../img/tu.png);
    top: 19px;
    right: 8px;
}

/*页码栏*/
.topper {
    width: 100%;
}
.topper .t-mat {
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    height: 560px;
    /*position: relative;*/
}

.topper .t-mat .left {
    margin-top: 348px;
    width: 216px;
    height: 212px;
    background: #ebe1b0;
    float:left;
    padding: 0 12px;
    position: relative;
}


.topper .t-mat .left .sfz {
    color: #666633;
    margin-bottom: 5px;
    border-bottom: 1px solid #666633;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    width: 216px;
    font-weight: bold;
}

.topper .t-mat .left .sfz:hover {
    text-decoration: underline;
    cursor: pointer;
}

.topper .t-mat .left .wy {
    width: 216px;
    word-wrap: break-word;
    word-break: break-all;
    color: #666633;
}

.topper .t-mat .left .xiangqing {
    position: absolute;
    color: #666633;
    font-family: simsun;
    bottom: 10px;
    right: 12px;
}

.topper .t-mat .left .xiangqing:hover {
    cursor: pointer;
    text-decoration: underline;
}

.topper .t-mat .center {
    width: 730px;
    height: 560px;
    float: left;
}

.topper .t-mat .center .moshou {
    background:url(../img/moshou.jpg);
    width: 730px;
    height: 350px;
    position: relative;
}
.topper .t-mat .center .moshou .left-3 {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 148px;
    background: #b2b2b2;
    background: rgba(0,0,0,.3);
    display: none;
}
.topper .t-mat .center .moshou .left-3 i {
    top: 8px;
    left: 12px;
    position: absolute;
    background-position: -100px -60px;
    width: 14px;
    height: 23px;
    background-image: url(../img/tu.png);
    display: block;
}
.topper .t-mat .center .moshou .right-3 {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 148px;
    background: #b2b2b2;
    background: rgba(0,0,0,.3);
    right: 0;
    display: none;
}
.topper .t-mat .center .moshou .right-3 i {
    top: 8px;
    left: 12px;
    position: absolute;
    background-position: -120px -60px;
    width: 14px;
    height: 23px;
    background-image: url(../img/tu.png);
    display: block;
}

.topper .t-mat .center .moshou:hover div {
    display: block;
    cursor: pointer;
}

.topper .t-mat .center .moshou:hover div:hover {
    background: rgba(0,0,0,.6);
}
.topper .t-mat .center .moshou ul {
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -74px;
}

.topper .t-mat .center .moshou li {
    margin: 0 3px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #b7b7b7;
}

.topper .t-mat .center .moshou li.active {
    background:#db3652; 
}

.topper .t-mat .center .moshou-bt {
    width: 730px;
    padding-top: 10px;
    height: 200px;
    border-bottom: 1px solid #e8e8e8;
    overflow: hidden;
}



.topper .t-mat .center .moshou-bt .ul2 {
    padding-top: 10px;
    text-align: center;
    line-height: 10px;
}

.topper .t-mat .center .moshou-bt .ul2 li {
    margin: 0 3px;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #b7b7b7;
}

.topper .t-mat .center .moshou-bt .ul2 li.active {
    background:#db3652; 
}

 .topper .t-mat .center .moshou-bt .ul1 {
    display: block;
    width: 3650px;
    height: 174px;
    position: relative;
    overflow: hidden;
} 

.topper .t-mat .center .moshou-bt .ul1 li {
    position: relative;
    float: left;
}
 .topper .t-mat .center .moshou-bt .ul1 .bt-1,.bt-2,.bt-3 {
    /*display: block;*/
    padding: 5px 0 0 20px;
    width: 344px;
    height: 169px;
    border-right: 1px solid #e8e8e8;
    color: #3c3c3c;
    /*position: relative;*/
    float: left;
    /*overflow: hidden;*/
} 

 .topper .t-mat .center .moshou-bt .ul1 a {
    display: inline-block;
    width: 230px;
    height: 45px;
    line-height: 22px;
    font-size: 14px;
    color: #3c3c3c;
} 

 .topper .t-mat .center .moshou-bt .ul1 a:hover {
    text-decoration: underline;
}
 
 .topper .t-mat .center .moshou-bt .ul1 p {
    line-height: 20px;
}

.topper .t-mat .center .moshou-bt .ul1 .h3 b {
    color: #39f;
    cursor: pointer;
}

.topper .t-mat .center .moshou-bt .ul1 .h3 b:hover {
    text-decoration: underline;
}

.topper .t-mat .center .moshou-bt .ul1 .h1 {
    margin-top: 2px;
}
.topper .t-mat .center .moshou-bt .ul1 .h2 {
    margin: 2px 0 10px 0;
}

.topper .t-mat .center .moshou-bt .ul1 .zxjx {
    width: 64px;
    height: 64px;
    background-position: 0 -210px;
    background-image: url(../img/tu.png);
    display: block;
    position: absolute;
    right: 10px;
    top: -2px; 
}

.topper .t-mat .center .moshou-bt .ul1 .shouji {
    width: 120px;
    height: 120px;
    background-image: url(../img/ipone.png);
    position: absolute;
    right: -5px;
    bottom: -10px;
}
/*right*/
.topper .t-mat .right {
    width: 229px;
    height: 560px;
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    float: left;
}
.topper .t-mat .right .right-1 {
    padding: 10px 15px ;
    width: 199px;
    height: 329px;
    border-bottom: 1px solid #e8e8e8;
    position: relative;
}
.topper .t-mat .right .right-1 .tjdb {
    background-image: url(../img/tu.png);
    width: 48px;
    height: 48px;
    position: absolute;
    top: 0;
    left: 0;
    background-position: -200px -280px;
    display: block;
}

.topper .t-mat .right .right-1 .zxc {
    background-image: url(../img/zxc.jpg);
    width: 200px;
    height: 200px;
    margin: 0 auto;
    cursor: pointer;
}

.topper .t-mat .right .right-1 .p1 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    font-size: 14px;
    line-height: 26px; 
}

.topper .t-mat .right .right-1 .p1:hover {
    text-decoration: underline;
}

.topper .t-mat .right .right-1 .p2 {
    color: #808080;
    margin-bottom: 6px;
}
.topper .t-mat .right .right-1 .cd {
    width: 200px;
    height: 30px;
    position: relative;
}

.topper .t-mat .right .right-1 .cd .i1 {
    background-image: url(../img/dht.png);
    background-position: 0 0;
    margin-bottom: 3px;
    height: 8px;
    display: block;
    position: relative;
}
.topper .t-mat .right .right-1 .cd .i1 i {
    background-image: url(../img/dht.png);
    background-position: 0 -8px;
    position: absolute;
    height: 8px;
    width: 74.7%;
}
.topper .t-mat .right .right-1 .cd .p3 {
    color: #808080; 
}
.topper .t-mat .right .right-1 .cd .p3 a {
    color: #ff9900;
    display: inline;
}
.topper .t-mat .right .right-1 .db-center {
    width: 200px;
    height: 35px;
    margin-top: 12px;
    text-align: center;

}

.topper .t-mat .right .right-1 .lkdb {
    width: 110px;
    height: 35px;
    background-color: #DD344F;
    display: inline-block;
    line-height: 35px;
    text-align: center;
    border-radius: 3px;
    font-size: 16px;
    color: #fff;
}

.topper .t-mat .right .right-1 .lkdb:hover {
    background-color: #EA4163;
}

.topper .t-mat .right .right-2 {
    width: 230px;
    height: 209px;
    position: relative;
    border-left: 1px solid #e8e8e8;
}

.topper .t-mat .right .right-2 .xptj {
    background-image: url(../img/tu.png);
    position: absolute;
    top: 10px;
    left: 0;
    width: 84px;
    height: 24px;
    background-position: -140px -210px;
}

.topper .t-mat .right .right-2 .yu {
    width: 230px;
    height: 145px;
    text-align: center;
    padding-top: 15px;
}

.topper .t-mat .right .right-2 .yu-b {
    background-image: url(../img/yu.jpg);
    width: 120px;
    height: 120px;
    display: inline-block;
}
.topper .t-mat .right .right-2 .txt-mat {
    width: 190px;
    margin: 0 auto;
    border-top: 1px dashed #e8e8e8;
    height: 42px;
    padding: 11px 0;
}

.topper .t-mat .right .right-2 .txt-mat .nrg {
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    color: #3C3C3C;
    font-size: 14px;
}
.topper .t-mat .right .right-2 .txt-mat .nrg:hover {
    cursor: pointer;
    text-decoration: underline;
}
.topper .t-mat .right .right-2 .txt-mat .wr {
    color: #808080;
}


/*商品栏*/

.tb {
    margin: 0 auto;
    padding: 0 10px;
    width: 1200px;
    position: relative;
    height: 853px;
}

.tb > .left {
    width: 960px;
    margin-top: 11px; 
    float: left;  
}
.tb .left .left-top {
    height: 40px;
    position: relative;
}

.tb .left .left-top .left {
    line-height: 40px;
    font-size: 18px;
    color: #000;
    font-weight: bold;
    font-family: "Microsoft Yahei";
}

.tb .left .left-top .right {
    position: absolute;
    right: 0;
    bottom: 0px;
    line-height: 30px;
    color: #808080;
    font-family: "simsun";
}
.tb .left .left-top .right:hover {
    text-decoration: underline;
    cursor: pointer;
}
.tb .left .left-bottom .leftbt-ul {
    width: 960px;
    height: 500px;
}

.tb .left .left-bottom li {
    float: left;
    position: relative;
    border:1px solid #e8e8e8;
    margin-top: -1px;
    margin-right: -1px;
}

.tb .left .left-bottom li:hover {
    border: 2px solid #d2d2d2;
}
.tb .left .left-bottom li .border {
    margin: 10px 19px 11px 20px;
    height: 379px;
}
.tb .left .left-bottom li:hover .border {
    margin: 9px 18px 10px 19px;
}

.tb .left .left-bottom li .syzq{
    background-image: url(../img/syzq.png);
    width: 48px;
    height: 48px;
    position: absolute;
    top: -1px;
    left:-1px;
}
.tb .left .left-bottom li:hover .syzq {
    top: -2px;
    left:-2px;
}

.tb .left .left-bottom li .phone {
    background-image: url(../img/phone.png);
    width: 200px;
    height: 200px;
    margin-bottom: 2px;
}
.tb .left .left-bottom li .phone:hover {
    cursor: pointer;
}

.tb .left .left-bottom li .p1 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    color: #3c3c3c;
    font-size: 12px;
    line-height: 26px;
}

.tb .left .left-bottom li .p1:hover {
    cursor: pointer;
    text-decoration: underline;
}

.tb .left .left-bottom li .p2 {
    color: #808080;
    margin-bottom: 10px;
    line-height: 19px;
}

.tb .left .left-bottom li .jdt {
    background-image: url(../img/dht.png);
    background-position: 0 0;
    margin-bottom: 3px;
    height: 8px;
    display: block;
    position: relative;
    margin-bottom: 8px;

}

.tb .left .left-bottom li .jdt div {
    background-image: url(../img/dht.png);
    background-position: 0 -8px;
    position: absolute;
    height: 8px;
    width: 98.8%;
}

.tb .left .left-bottom li .toper {
    width: 230px;
}

.tb .left .left-bottom li .fl-1,.fl-2 {
    float: left;
}

.tb .left .left-bottom li .fr-1,.fr-2 {
    float: right;
}

.tb .left .left-bottom li .fl-2,.fr-2 {
    color: #808080;
}


.tb .left .left-bottom li .clear {
    clear: both;
}

.tb .left .left-bottom li .tu {
    margin-top: 17px;
    text-align: center;
    position: relative;
    height: 43px;
}

.tb .left .left-bottom li .tu .lkdb {
    width: 70px;
    padding: 0 20px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    border-radius: 4px;
    background: #DD344F;
    color: #fff;
    display: inline-block;
    position:relative;
    top: -15px;
}

.tb .left .left-bottom li .tu .lkdb:hover {
    background-color: #EA4163;
}

.tb .left .left-bottom li .tu .gwc {
    background-image: url(../img/gwc.png);
    display: inline-block;
    width: 45px;
    height: 45px;
    margin-left: 5px;
    margin-top: -2px;
}

.tb .left .left-bottom li .tu .gwc:hover {
    background-position: 0 -50px;
}

        /*<!-- RIGHT -->*/

.tb .right {
    float: right;
    width: 230px;
    margin-top: 18px;
}

.tb .right .right-top {
    width: 215px;
    padding-left: 15px;
    background-color: #898989;
    color: #fff;
    height: 32px;
    border-bottom: 2px solid #888888;
    font-size: 16px;
    line-height: 32px;
}

.tb .right .right-bottom {
    overflow: hidden;
    border: 1px solid #ddd;
    border-top: 0;
    border-bottom: 0;
}

.tb .right .right-bottom .yycq {
    height: 768px;
    overflow: hidden;
}

.tb .right .right-bottom .yycq li {
    padding: 15px 10px;
    height: 65px;
    border-bottom: 1px solid #ffffff;
}

.tb .right .right-bottom .yycq li .left1 {
    float: left;
    background-image: url(../img/touxiang.jpeg);
    width: 40px;
    height: 40px;
    margin-top: 5px;
}

.tb .right .right-bottom .yycq li .right1 {
    width: 160px;
    height: 60px;
    float: right;
}

.tb .right .right-bottom .yycq li .right1 .rc,.yc {
    margin-top: 5px;
}

.tb .right .right-bottom .yycq li .right1 .left2 {
    float: left;
    width: 80px;
    color: #39f;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis; 
}

.tb .right .right-bottom .yycq li .right1 .left2:hover {
    text-decoration: underline;
    cursor: pointer;
}

.tb .right .right-bottom .yycq li .right1 .right2 {
    float: right;
}

.tb .right .right-bottom .yycq li .clear {
    clear:both;
}

.tb .right .right-bottom .yycq li .right1 .s1 {
    color: #d83333;
    font-weight: bold;
}

.tb .right .right-bottom .yycq li .right1 .s2:hover {
    text-decoration: underline;
}

.tb .right .right-bottom .yycq li .right1 .yc {
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis; 
}

.tb .right .shit {
    height: 32px;
    background-color: #f5f5f5;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    color: #808080;
    border: 1px solid #ddd;
    border-top: none;
}

/*手机平板*/
.sjpb {
    width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
    margin-top: 11px;
    overflow: hidden;
}

.sjpb .sj-top {
    height: 40px;
    position: relative;
}

.sjpb .sj-top .sj-tl {
    line-height: 40px;
    font-size: 18px;
    color: #000;
    font-weight: bold;
    font-family: "Microsoft Yahei";
}

.sjpb .sj-top .sj-tr {
    position: absolute;
    right: 0;
    bottom: 0px;
    line-height: 30px;
    color: #808080;
    font-family: "simsun";
}

.sjpb .sj-top .sj-tr:hover {
    cursor: pointer;
    text-decoration: underline;
}

.sjpb .ul-sjpb .ipad{
    width: 239px;
    height: 400px;
    background-image: url(../img/shlsq.jpg);
    float: left;
}


.sjpb .ul-sjpb li {
    float: left;
    position: relative;
    border:1px solid #e8e8e8;
    margin-top: -1px;
    margin-right: -1px;
}

.sjpb .ul-sjpb li:hover {
    border: 2px solid #d2d2d2;
}

.sjpb .ul-sjpb li .border {
    margin: 10px 19px 11px 20px;
    height: 379px;
}

.sjpb .ul-sjpb li:hover .border {
    margin: 9px 18px 10px 19px;
}

.sjpb .ul-sjpb li .syzq{
    background-image: url(../img/haiwai.png);
    width: 48px;
    height: 48px;
    position: absolute;
    top: -1px;
    left:-1px;
}

.sjpb .ul-sjpb li:hover .syzq {
    top: -2px;
    left:-2px;
}

.sjpb .ul-sjpb li .phone {
    background-image: url(../img/baobao.png);
    width: 200px;
    height: 200px;
    margin-bottom: 2px;
}

.sjpb .ul-sjpb li .phone:hover {
    cursor: pointer;
}

.sjpb .ul-sjpb li .p1 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    color: #3c3c3c;
    font-size: 12px;
    line-height: 26px;
}

.sjpb .ul-sjpb li .p1:hover {
    cursor: pointer;
    text-decoration: underline;
}

.sjpb .ul-sjpb li .p2 {
    color: #808080;
    margin-bottom: 10px;
    line-height: 19px;
}

.sjpb .ul-sjpb li .jdt {
    background-image: url(../img/dht.png);
    background-position: 0 0;
    margin-bottom: 3px;
    height: 8px;
    display: block;
    position: relative;
    margin-bottom: 8px;

}

.sjpb .ul-sjpb li .jdt div {
    background-image: url(../img/dht.png);
    background-position: 0 -8px;
    position: absolute;
    height: 8px;
    width: 98.8%;
}

.sjpb .ul-sjpb li .toper {
    width: 230px;
}

.sjpb .ul-sjpb li .fl-1,.fl-2 {
    float: left;
}

.sjpb .ul-sjpb li .fr-1,.fr-2 {
    float: right;
}

.sjpb .ul-sjpb li .fl-2,.fr-2 {
    color: #808080;
}

.sjpb .ul-sjpb li .clear {
    clear: both;
}

.sjpb .ul-sjpb li .tu {
    margin-top: 17px;
    text-align: center;
    position: relative;
    height: 43px;
}

.sjpb .ul-sjpb li .tu .lkdb {
    width: 70px;
    padding: 0 20px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    border-radius: 4px;
    background: #DD344F;
    color: #fff;
    display: inline-block;
    position:relative;
    top: -15px;
}

.sjpb .ul-sjpb li .tu .lkdb:hover {
    background-color: #EA4163;
}

.sjpb .ul-sjpb li .tu .gwc {
    background-image: url(../img/gwc.png);
    display: inline-block;
    width: 45px;
    height: 45px;
    margin-left: 5px;
    margin-top: -2px;
}

.sjpb .ul-sjpb li .tu .gwc:hover {
    background-position: 0 -50px;
}

/*最新上架*/

.zxsj {
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    margin-top: 11px;
}

.zxsj .zxsj-top{
    height: 40px;
}

.zxsj .clear {
    clear: both;
}

.zxsj .zxsj-top .left {
    float: left;
    line-height: 40px;
    font-size: 18px;
    color: #000;
    font-weight: bold;
    font-family: "Microsoft Yahei";
}

.zxsj .zxsj-top .right {
    float: right;
    line-height: 30px;
    color: #808080;
    font-family: "simsun";
}

.zxsj .zxsj-top .right:hover {
    text-decoration: underline;
    cursor: pointer;
}

.zxsj .zxsj-bottom {
    overflow: hidden;
}

.zxsj .zxsj-bottom li {
    float: left;
    margin-top: -1px;
    margin-right: -1px;
    overflow: hidden;
    border: 1px solid #e8e8e8;
    background: #fff;
    position: relative;
}

.zxsj .zxsj-bottom li:hover {
    border: 2px solid #d2d2d2;
}

.zxsj .zxsj-bottom li .b-mat {
    margin: 10px 19px 13px 20px;
    width: 200px;
    height: 250px;
}

.zxsj .zxsj-bottom li:hover .b-mat {
    margin: 9px 18px 12px 19px;
}

.zxsj .zxsj-bottom li .b-mat .xinnongge {
    background-image: url(../img/xng.jpg);
    width: 200px;
    height: 200px;
}

.zxsj .zxsj-bottom li.li-1 .b-mat .xinnongge {
    background-image: url(../img/123.jpg);
}

.zxsj .zxsj-bottom li.li-2 .hgsp {
    background-image: url(../img/hgsp.png);
    display: block;
    position: absolute;
    top: -1px;
    left: -1px;
    width: 48px;
    height: 48px;
}

.zxsj .zxsj-bottom li.li-2:hover .hgsp {
    top: -2px;
    left: -2px;
}

.zxsj .zxsj-bottom li.li-2 .b-mat .xinnongge {
    background-image: url(../img/234.jpg);
    
}

.zxsj .zxsj-bottom li .b-mat .p1 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    color: #3c3c3c;
    font-size: 12px;
    line-height: 22px;
}

.zxsj .zxsj-bottom li .b-mat .p1:hover {
    cursor: pointer;
    text-decoration: underline;
}

.zxsj .zxsj-bottom li .b-mat .p2 {
    color: #808080;
}

.clear {
    clear: both;
}

/*晒单分享*/

.sdfx {
    width: 1200px;
    margin: 0 auto ;
    padding: 0 10px 30px;
    margin-top: 11px;
    line-height: 40px;
}

.sdfx .sdfx-top{
    height: 40px;
    border-bottom: 1px solid #d2d2d2;
}

.sdfx .clear {
    clear: both;
}

.sdfx .sdfx-top .left {
    float: left;
    font-size: 18px;
    color: #000;
    font-weight: bold;
    font-family: "Microsoft Yahei";
}

.sdfx .sdfx-top .right {
    float: right;
    line-height: 30px;
    color: #808080;
    font-family: "simsun";
}

.sdfx .sdfx-top .right:hover {
    text-decoration: underline;
    cursor: pointer;
}

.sdfx .sdfx-bottom {
    overflow: hidden;
}

.sdfx .sdfx-bottom li {
    padding: 20px;
    width: 558px;
    height: 90px;
    float: left;
    border: 1px dotted #ddd;
}


.sdfx .sdfx-bottom .left {
    background-image: url(../img/111.jpg);
    width: 110px;
    height: 90px;
    float: left;
}

.sdfx .sdfx-bottom .right {
    position: relative;
    margin-left: 120px;
    padding: 10px 40px;
    height: 70px;
    overflow: hidden;
    line-height: 24px;
}

.sdfx .sdfx-bottom .right .top {
    background-image: url(../img/tu.png);
    background-position: -40px -190px;
    width: 24px;
    height: 20px;
    display: block;
    position: absolute;
    top: 0;
    left: 10px;
}

.sdfx .sdfx-bottom .right .hjgy {
    color: #7f7f7f;
}

.sdfx .sdfx-bottom .right .id {
    margin-top: 5px;
    text-align: right;
    color: #b5b5b5;
}

.sdfx .sdfx-bottom .right .id a {
    color: #39f;
}

.sdfx .sdfx-bottom .right .id a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.sdfx .sdfx-bottom .right .bottom {
    background-image: url(../img/tu.png);
    background-position: -70px -190px;
    width: 24px;
    height: 20px;
    display: block;
    position: absolute;
    bottom: 0;
    right: 10px;
}

/*底部*/

.btm {
    width: 1200px;
    margin:0 auto;
    padding: 0 10px;
    padding: 30px 0 10px;
    overflow: hidden;
}

.btm .left {
    width: 54%;
    height: 125px;
    float: left;
    border-right: 1px solid #e2e2e2;
}

.btm .left .bot-lf {
    float: left;
    width: 100%;
}

.btm .left .bot-lf li.l1 {
    float: left;
    width: 160px;
    height: 120px;
    /*display: table-cell;*/
}

.btm .left .bot-lf li.l1 .xszn {
    background-image: url(../img/tu.png);
    width: 22px;
    height: 22px;
    background-position: -160px -30px;
    margin: -2px 6px 0 0;
    display: inline-block;
    vertical-align: middle;
}
.btm .left .bot-lf li.l1 .dbbz {
    background-image: url(../img/tu.png);
    width: 22px;
    height: 22px;
    background-position: -190px -30px;
    margin: -2px 6px 0 0;
    display: inline-block;
    vertical-align: middle;
}
.btm .left .bot-lf li.l1 .spps {
    background-image: url(../img/tu.png);
    width: 22px;
    height: 22px;
    background-position: -220px -30px;
    margin: -2px 6px 0 0;
    display: inline-block;
    vertical-align: middle;
}
.btm .left .bot-lf li.l1 .yqlj {
    background-image: url(../img/tu.png);
    width: 22px;
    height: 22px;
    background-position: -250px -30px;
    margin: -2px 6px 0 0;
    display: inline-block;
    vertical-align: middle;
}

.btm .left .bot-lf li.l1 h5 {
    margin-bottom: 6px;
    padding: 4px 0;
    height: 22px;
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    font-family: "Microsoft Yahei";
}

.btm .left .bot-lf li.l1 ul {
    margin-left: 18px;
}

.btm .left .bot-lf li.l1 ul li {
    list-style: disc inside;

}
.btm .left .bot-lf li.l1 ul li a{
    line-height: 22px;
    color: #808080;
}

.btm .left .bot-lf li.l1 ul li a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.btm .right {
    float: right;
    width: 515px;
    height: 130px;
}

.btm .right ul {
    float: left;
    width: 185px;
    height: 120px;
}

.btm .right ul li {
    padding: 3px 0;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
}
.btm .right ul li i.tp {
    background-image: url(../img/tu.png);
    width: 34px;
    height: 34px;
    vertical-align: middle;
    margin: -2px 6px 0 0;
    background-position: -160px -90px;
    display: inline-block;
}
.btm .right ul li i.zheng {
    background-image: url(../img/tu.png);
    width: 34px;
    height: 34px;
    vertical-align: middle;
    margin: -2px 6px 0 0;
    background-position: -200px -90px;
    display: inline-block;
}
.btm .right ul li i.chuiz {
    background-image: url(../img/tu.png);
    width: 34px;
    height: 34px;
    vertical-align: middle;
    margin: -2px 6px 0 0;
    background-position: -240px -90px;
    display: inline-block;
}

.btm .right .div-1 {
    float: left;
    padding: 0;
    width: 115px;
    text-align: center;
    background-color: #fff;
}

.btm .right .div-1 img:hover {
    cursor: pointer;
}

.btm .right .div-2 {
    width: 155px;
    height: 50px;
    margin-top: 30px;
    padding: 10px;
    font-size: 14px;
    float: right;
    line-height: 1.666;
}

.btm .right .div-2 a {
    display: inline-block;
    padding-left: 5px;
    color: #39f;
}

.btm .right .div-2 a:hover{
    text-decoration: underline;
    cursor: pointer;
}

/*最下面*/

.best-btm {
    width: 740px;
    margin: 0 auto;
    padding: 20px 10px;
    height: 60px;
    color: #8f8e8e;
    position: relative;
}

.best-btm > div {
    float: left;
    margin-right: 25px;
}

.best-btm li {
    float: left;
    padding-right: 15px;
    line-height: 25px;
}

.best-btm .lh {
    line-height: 25px;

}

.best-btm .pic-3 {
    position: relative;
    top: -10px;
}



